-- Incremental Load for Brazilian Ecommerce Data Warehouse
-- This script contains CDC operations: UPDATES and NEW INSERTS
-- Updated records have newer timestamps (2025-10-16)
-- UPDATES modify existing records; INSERTS add new records

-- DimCustomer - UPDATES (existing customers with changed addresses)
UPDATE DimCustomer SET customer_zip_code_prefix = '75750', customer_city = 'catalao', customer_state = 'GO', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '74cdb1ab8c425749c6f327357549b4e1';
UPDATE DimCustomer SET customer_zip_code_prefix = '75616', customer_city = 'itumbiara', customer_state = 'GO', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '00a1edfeac0ce7adf9357b89c9659eb2';
UPDATE DimCustomer SET customer_zip_code_prefix = '24231', customer_city = 'niteroi', customer_state = 'RJ', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '8cb759609b468ec8d01195f328535068';
UPDATE DimCustomer SET customer_zip_code_prefix = '38828', customer_city = 'rio paranaiba', customer_state = 'MG', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '0b60138b038f460baefa261d66dac712';
UPDATE DimCustomer SET customer_zip_code_prefix = '11693', customer_city = 'ilhabela', customer_state = 'SP', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '776f08a4e825c406004d9e30e2096d17';
UPDATE DimCustomer SET customer_zip_code_prefix = '85876', customer_city = 'foz do iguacu', customer_state = 'PR', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '3db8d7ab9640d049e6cf96272d1c934c';
UPDATE DimCustomer SET customer_zip_code_prefix = '85045', customer_city = 'salto do itarare', customer_state = 'PR', updated_at = '2025-10-16 08:30:00' WHERE customer_id = 'f27e56c54dfcb67aa9237eba08636bb9';
UPDATE DimCustomer SET customer_zip_code_prefix = '42872', customer_city = 'camacari', customer_state = 'BA', updated_at = '2025-10-16 08:30:00' WHERE customer_id = 'e05f1f9cf952a4dd066aa550089b89dd';
UPDATE DimCustomer SET customer_zip_code_prefix = '98066', customer_city = 'cruz alta', customer_state = 'RS', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '5cc5d672606be228e4f10cb6cf3aaaf9';
UPDATE DimCustomer SET customer_zip_code_prefix = '12293', customer_city = 'cacapava', customer_state = 'SP', updated_at = '2025-10-16 08:30:00' WHERE customer_id = '3edd6632f0023b2e66e1cf3e7814c7ea';

-- DimCustomer - NEW INSERTS (new customers)
INSERT INTO DimCustomer (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, updated_at) VALUES ('452029fda060d82aa31f0345259f5481', 'aafb6bb077ec103f3b4a7d68c3053ccb', '13600', 'araras', 'SP', '2025-10-16 09:15:00');
INSERT INTO DimCustomer (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, updated_at) VALUES ('4b71d940f437dc0b0cb9729a13b3d644', '6f9d708cb6461670ae063d94baa748cb', '30210', 'belo horizonte', 'MG', '2025-10-16 09:15:00');
INSERT INTO DimCustomer (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, updated_at) VALUES ('1667c9660e2d8494588daa01cf9e3f86', '760caff27799b863021f2591c828dad7', '96570', 'cacapava do sul', 'RS', '2025-10-16 09:15:00');

-- DimProduct - UPDATES (existing products with updated specs)
UPDATE DimProduct SET product_name_length = 33, product_description_length = 940, product_photos_qty = 3, updated_at = '2025-10-16 08:45:00' WHERE product_id = 'ad7c531c2001111873dcfed9d8317439';
UPDATE DimProduct SET product_name_length = 59, product_description_length = 764, product_photos_qty = 4, updated_at = '2025-10-16 08:45:00' WHERE product_id = '2fcdd37790d9c79db0998f7fc9bc68b0';
UPDATE DimProduct SET product_name_length = 59, product_description_length = 347, product_photos_qty = 3, updated_at = '2025-10-16 08:45:00' WHERE product_id = 'd369c0eb24f18d687ae8598d570cb255';
UPDATE DimProduct SET product_name_length = 37, product_description_length = 202, product_photos_qty = 4, updated_at = '2025-10-16 08:45:00' WHERE product_id = '805967bd91579942b3caac4ebcc39a54';
UPDATE DimProduct SET product_name_length = 46, product_description_length = 357, product_photos_qty = 3, updated_at = '2025-10-16 08:45:00' WHERE product_id = 'fc1449f3ffc59fd2eb9640505aea0581';
UPDATE DimProduct SET product_name_length = 52, product_description_length = 2108, product_photos_qty = 3, updated_at = '2025-10-16 08:45:00' WHERE product_id = '1168d8ebfef41c2720053c4c9f78ac87';
UPDATE DimProduct SET product_name_length = 60, product_description_length = 305, product_photos_qty = 2, updated_at = '2025-10-16 08:45:00' WHERE product_id = 'fc1d8637c0268af3db482c14b7ef8e75';
UPDATE DimProduct SET product_name_length = 50, product_description_length = 1275, product_photos_qty = 2, updated_at = '2025-10-16 08:45:00' WHERE product_id = '19c91ef95d509ea33eda93495c4d3481';
UPDATE DimProduct SET product_name_length = 51, product_description_length = 152, product_photos_qty = 2, updated_at = '2025-10-16 08:45:00' WHERE product_id = '25bf7c5e5f9d008845212122805014e5';
UPDATE DimProduct SET product_name_length = 60, product_description_length = 1886, product_photos_qty = 5, updated_at = '2025-10-16 08:45:00' WHERE product_id = 'b5aebb467d9a92162173cbd234e00d99';

-- DimProduct - NEW INSERTS (new products)
INSERT INTO DimProduct (product_id, product_category_name, product_name_length, product_description_length, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, updated_at) VALUES ('a81e6e4ca394f33cd5a0c89188baecb8', 'automotivo', 58, 908, 1, 3800, 35, 20, 20, '2025-10-16 09:30:00');
INSERT INTO DimProduct (product_id, product_category_name, product_name_length, product_description_length, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, updated_at) VALUES ('3f217ac180c743ff2e4b047d4f205d52', 'instrumentos_musicais', 57, 507, 1, 200, 16, 9, 11, '2025-10-16 09:30:00');
INSERT INTO DimProduct (product_id, product_category_name, product_name_length, product_description_length, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, updated_at) VALUES ('18209df52bc87a69b84db4df602397c1', 'ferramentas_jardim', 55, 1061, 2, 9600, 35, 27, 23, '2025-10-16 09:30:00');

-- DimSeller - UPDATES (existing sellers with changed locations)
UPDATE DimSeller SET seller_zip_code_prefix = '3716', seller_city = 'sao paulo', seller_state = 'SP', updated_at = '2025-10-16 08:30:00' WHERE seller_id = 'd8d9567d0bfb0bc7eb845a205ba42657';
UPDATE DimSeller SET seller_zip_code_prefix = '89169', seller_city = 'rio do sul', seller_state = 'SC', updated_at = '2025-10-16 08:30:00' WHERE seller_id = '669ae81880e08f269a64487cfb287169';
UPDATE DimSeller SET seller_zip_code_prefix = '20769', seller_city = 'rio de janeiro', seller_state = 'RJ', updated_at = '2025-10-16 08:30:00' WHERE seller_id = 'f84a00e60c73a49e7e851c9bdca3a5bb';
UPDATE DimSeller SET seller_zip_code_prefix = '88094', seller_city = 'florianopolis', seller_state = 'SC', updated_at = '2025-10-16 08:30:00' WHERE seller_id = '83deb69e889cf80f82be1dc6d5f2d486';
UPDATE DimSeller SET seller_zip_code_prefix = '2352', seller_city = 'sao paulo', seller_state = 'SP', updated_at = '2025-10-16 08:30:00' WHERE seller_id = 'fa40cc5b934574b62717c68f3d678b6d';
UPDATE DimSeller SET seller_zip_code_prefix = '90257', seller_city = 'porto alegre', seller_state = 'RS', updated_at = '2025-10-16 08:30:00' WHERE seller_id = '87142160b41353c4e5fca2360caf6f92';
UPDATE DimSeller SET seller_zip_code_prefix = '87121', seller_city = 'maringa', seller_state = 'PR', updated_at = '2025-10-16 08:30:00' WHERE seller_id = 'e9bc59e7b60fc3063eb2290deda4cced';
UPDATE DimSeller SET seller_zip_code_prefix = '5171', seller_city = 'sao paulo', seller_state = 'SP', updated_at = '2025-10-16 08:30:00' WHERE seller_id = '5f2684dab12e59f83bef73ae57724e45';

-- DimSeller - NEW INSERTS (new sellers)
INSERT INTO DimSeller (seller_id, seller_zip_code_prefix, seller_city, seller_state, updated_at) VALUES ('99a25c39b28a74d1151c35c18d178292', '2236', 'sao paulo', 'SP', '2025-10-16 09:45:00');
INSERT INTO DimSeller (seller_id, seller_zip_code_prefix, seller_city, seller_state, updated_at) VALUES ('93b9a99027bd8bd6af682aff18dd19bf', '7600', 'mairipora', 'SP', '2025-10-16 09:45:00');
INSERT INTO DimSeller (seller_id, seller_zip_code_prefix, seller_city, seller_state, updated_at) VALUES ('8fb67a334bacec338885b4e9e1708073', '85905', 'toledo', 'PR', '2025-10-16 09:45:00');

-- DimDate - NEW INSERTS (new dates not in initial load)
INSERT INTO DimDate (date_key, date, day, month, year, weekday) VALUES (20251026, '2025-10-26', 26, 10, 2025, 'Sunday');
INSERT INTO DimDate (date_key, date, day, month, year, weekday) VALUES (20251028, '2025-10-28', 28, 10, 2025, 'Tuesday');
INSERT INTO DimDate (date_key, date, day, month, year, weekday) VALUES (20251031, '2025-10-31', 31, 10, 2025, 'Friday');

-- FactOrder - UPDATES (existing orders with status changes - delivery completed)
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = 'd6db7f667096b9209c177893ddedb788';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = 'cc91ae24c277f0bfc31ff525577f8cd4';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '1580aa3360c01bdd268dd1665a8ff929';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '455b543c53eb86970fe22cdb9890a686';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '4bd13580e951063d19e99e60bc4d1492';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '76e1398ff6f5ed6b681d270df349e3f8';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '267db43542633efa0839c965b2ad2f31';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '3202d54e102ee571b92aaba84b2a7696';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '20e4793779b086b53af56a8ea4b94f71';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = 'c125e883b34e4012f606e77b227ed690';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '1d7ee49ee66da430b533a85af951430c';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '9d241238f3827aced623154ace551dd9';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = 'd1f24b02567e4b8b8cbfb799021ecb3d';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = 'f4ee4273538924bda6212f5948e80fde';
UPDATE FactOrder SET order_status = 'delivered', order_delivered_customer_date = '2025-10-16 15:30:00' WHERE order_id = '95dccb26fb812f3ef2dcb2ea92b5541a';
